n8n/MudNews.json
{
  "name": "MudNews",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8-22 * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1856,
        0
      ],
      "id": "919dd6c9-d52c-4df6-87c2-9c62defc19a4",
      "name": "RSS Feed Scraper"
    },
    {
      "parameters": {
        "maxItems": 20
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -960,
        336
      ],
      "id": "3f830e29-733d-4fc6-a7d9-7e10ac3418eb",
      "name": "Limit - AI Scorer"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a news scoring assistant. Your only job is to return a single JSON object. Nothing else.\n\nREQUIRED OUTPUT FORMAT \u2014 follow this exactly:\n{\"score\": 75, \"reason\": \"One sentence explaining the score.\", \"category\": \"World News\", \"decay\": \"moderate\", \"article_id\": 123, \"user_id\": 1}\n\nRULES:\n- Output must start with { and end with }\n- No text before the {\n- No text after the }\n- No markdown, no code fences, no backticks\n- No newlines inside the JSON\n- Score must be an integer between 0 and 100\n- Reason must be a single sentence, no longer than 20 words\n- Category must be copied exactly from the list below, character for character\n- Decay must be exactly one of: fast, moderate, slow\n- article_id and user_id must be copied exactly from the values provided below, as integers\n\nSCORING GUIDANCE:\n{{ $json.scoring_prompt }}\n\nSCORE RUBRIC:\n0-39  = low interest \u2014 do not prioritise\n40-74 = moderate interest \u2014 serve if buffer needs filling\n75-100 = high priority \u2014 must hear\n\nDECAY RUBRIC:\nfast     = stale within 24h \u2014 use for: breaking news, sports results, weather events, market moves,\n           political flashpoints, anything with a specific date (\"tomorrow\", \"today\", \"tonight\"),\n           celebrity moments tied to a live event (red carpet, Coachella, awards night)\nmoderate = relevant for 2-4 days \u2014 use for: crime stories still developing, ongoing legal cases,\n           celebrity scandals with new details emerging, earnings reports, short-term policy news\nslow     = valid for weeks or longer \u2014 use for: policy changes and new laws, economic trend analysis,\n           health and science research findings, tech releases and product launches, geopolitical\n           analysis pieces, human interest stories, personal finance advice, property market explainers,\n           anything framed as \"why this matters\" or \"what this means\" rather than \"what just happened\"\n\nDECAY TIE-BREAKER: if the headline contains a specific time reference (\"tomorrow\", \"today\", \"this week\",\n\"last night\") lean fast. If the headline is an analysis or explainer (\"why\", \"how\", \"what this means\",\n\"the truth about\") lean slow. When genuinely unsure, prefer slow over moderate.\n\nALLOWED CATEGORIES \u2014 use only these, spelled exactly as shown:\nWorld News, Politics & Policy, Business & Finance, Technology, AI & Automation, Science & Health, Consumer & Gadgets, Entertainment & Celebrity, Lifestyle & Wellness, Sport, Crime & Justice, Weird & Viral, Opinion & Analysis, Other\n\nGOOD EXAMPLES:\n{\"score\": 82, \"reason\": \"Major diplomatic talks with global economic implications.\", \"category\": \"World News\", \"decay\": \"fast\", \"article_id\": 42, \"user_id\": 1}\n{\"score\": 45, \"reason\": \"Celebrity gossip with limited broader relevance.\", \"category\": \"Entertainment & Celebrity\", \"decay\": \"moderate\", \"article_id\": 17, \"user_id\": 2}\n{\"score\": 78, \"reason\": \"New Claude model release with significant capability improvements.\", \"category\": \"AI & Automation\", \"decay\": \"slow\", \"article_id\": 88, \"user_id\": 1}\n\nBAD EXAMPLES \u2014 never output anything like these:\nHere is the JSON: {\"score\": 75, \"reason\": \"...\", \"category\": \"World News\", \"decay\": \"fast\", \"article_id\": 42, \"user_id\": 1}\n{\"score\": \"75\", \"reason\": \"...\", \"category\": \"world news\", \"decay\": \"Fast\", \"article_id\": \"42\", \"user_id\": \"1\"}\n\narticle_id: {{ $json.article_id }}\nuser_id: {{ $json.user_id }}\nTitle: {{ $json.title }}\nDescription: {{ $json.description }}",
        "batching": {
          "batchSize": 1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        -736,
        336
      ],
      "id": "eddee0f2-7cb9-441e-bbf4-aa54c33e998b",
      "name": "LLM Chain - AI Scorer"
    },
    {
      "parameters": {
        "model": "qwen2.5-coder:14b-8k",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmOllama",
      "typeVersion": 1,
      "position": [
        -672,
        560
      ],
      "id": "53517c9b-26b0-4a60-b79e-2dd000854d2f",
      "name": "Ollama Model - AI Scorer",
      "credentials": {
        "ollamaApi": {
          "id": "jn4XtA8BqYiytg6W",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://mudnews-api:8002/n8n/fetch-article-content",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "article_id",
              "value": "={{ $json.article_id }}"
            },
            {
              "name": "url",
              "value": "={{ $json.url }}"
            },
            {
              "name": "title",
              "value": "={{ $json.title }}"
            },
            {
              "name": "full_content",
              "value": "={{ $json.full_content }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        216,
        536
      ],
      "id": "298a8797-a475-43d0-a6d3-71d67e0f150f",
      "name": "fetch-article-content",
      "credentials": {
        "httpHeaderAuth": {
          "id": "F7GEHBmi3I4fN1LB",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://mudnews-api:8002/n8n/ingest-feed",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"feed_url\": \"https://www.dailymail.co.uk/auhome/index.rss\"}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1632,
        0
      ],
      "id": "02783c5b-36b4-434c-af62-17b170d06010",
      "name": "ingest-feed",
      "credentials": {
        "httpHeaderAuth": {
          "id": "F7GEHBmi3I4fN1LB",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "url": "http://mudnews-api:8002/n8n/unscored-articles",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1632,
        464
      ],
      "id": "52e068f6-efb0-4c5a-b9c0-3c1756d13c27",
      "name": "unscored-articles",
      "credentials": {
        "httpHeaderAuth": {
          "id": "F7GEHBmi3I4fN1LB",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://mudnews-api:8002/n8n/import-score",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "raw_response",
              "value": "={{ $json.text }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -384,
        336
      ],
      "id": "6370f179-f5ce-4e0a-98d7-b1539373b130",
      "name": "import-score",
      "credentials": {
        "httpHeaderAuth": {
          "id": "F7GEHBmi3I4fN1LB",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "articles",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -1184,
        336
      ],
      "id": "2f16bea4-3bf4-47e3-ad47-a7789d8ef6ab",
      "name": "AI Scorer - Split Out"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c5e091c7-87ca-4247-955e-fca24ceb19fd",
              "leftValue": "={{ $json.count }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1408,
        464
      ],
      "id": "effd53b5-7132-4da8-83ab-4f2c6f930fae",
      "name": "If"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1856,
        464
      ],
      "id": "dc5f6009-c4f2-4440-b253-25778f260700",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "url": "=http://mudnews-api:8002/n8n/articles-needing-content",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -84,
        536
      ],
      "id": "aabb1122-ccdd-eeff-0011-223344556677",
      "name": "articles-needing-content",
      "credentials": {
        "httpHeaderAuth": {
          "id": "F7GEHBmi3I4fN1LB",
          "name": "Header Auth account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "RSS Feed Scraper": {
      "main": [
        [
          {
            "node": "ingest-feed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit - AI Scorer": {
      "main": [
        [
          {
            "node": "LLM Chain - AI Scorer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM Chain - AI Scorer": {
      "main": [
        [
          {
            "node": "import-score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Model - AI Scorer": {
      "ai_languageModel": [
        [
          {
            "node": "LLM Chain - AI Scorer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "fetch-article-content": {
      "main": [
        []
      ]
    },
    "unscored-articles": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Scorer - Split Out": {
      "main": [
        [
          {
            "node": "Limit - AI Scorer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "import-score": {
      "main": [
        []
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "AI Scorer - Split Out",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "unscored-articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "articles-needing-content": {
      "main": [
        [
          {
            "node": "fetch-article-content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "c7b2b98b-c8d8-4d69-b318-91e594f9dd1a",
  "meta": {
    "instanceId": "fe367f1edbb3db4e0d2c733fd7a03b37d2cf559d9f004c458b8cbee4a8a33e1e"
  },
  "id": "pt6Vc9HErhrfPVDG",
  "tags": []
}